@page
@model RostrosFelices.Pages.Clientes.BorrarModel
@{
    ViewData["Title"] = "Borrar Cliente";
}

<h2>Borrar Cliente</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre Completo</dt>
        <dd class="col-sm-10">@Model.Cliente.NombreCompleto</dd>

        <dt class="col-sm-2">Correo Electrónico</dt>
        <dd class="col-sm-10">@Model.Cliente.CorreoElectronico</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Cliente.NumeroTelefonico</dd>

        <dt class="col-sm-2">Cédula de Ciudadanía</dt>
        <dd class="col-sm-10">@Model.Cliente.CedulaCiudadania</dd>
    </dl>
</div>

@{
    Model.OnPost(); // Llamar al método OnPost para eliminar el cliente directamente
    Response.Redirect("./Index"); // Redirigir a la página de índice
}