@page
@model RostrosFelices.Pages.Clientes.BorrarModel
@{
    ViewData["Title"] = "Borrar Cliente";
}

<h2>Borrar Cliente</h2>

<h3>¿Estás seguro de que deseas borrar el siguiente cliente?</h3>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre Completo</dt>
        <dd class="col-sm-10">@Model.Cliente.NombreCompleto</dd>

        <dt class="col-sm-2">Correo Electrónico</dt>
        <dd class="col-sm-10">@Model.Cliente.CorreoElectronico</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Cliente.NumeroTelefonico</dd>

        <dt class="col-sm-2">Cédula de Ciudadanía</dt>
        <dd class="col-sm-10">@Model.Cliente.CedulaCiudadania</dd>
    </dl>
</div>

<form method="post">
    <input type="hidden" asp-for="Cliente.Id" />

    <button type="submit" class="btn btn-danger">Borrar</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
</form>